/*
 * Globals
 */


/* Custom default button */
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritance from `body` */
}


/*
 * Base structure
 */

body {
}

.cover-container {
  max-width: 100em;
}


/*
 * Header
 */

.nav-masthead .nav-link {
  padding: .25rem 0;
  font-weight: 700;
  color: rgba(255, 255, 255, .5);
  background-color: transparent;
  border-bottom: .25rem solid transparent;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
  border-bottom-color: rgba(255, 255, 255, .25);
}

.nav-masthead .nav-link + .nav-link {
  margin-left: 1rem;
}

.nav-masthead .active {
  color: #fff;
  border-bottom-color: #fff;
}

/* paddings */
.padding-one{
    padding: 1em;
}
.padding-two{
    padding: 2em;
}
.padding-three{
    padding: 3em;
}
.padding-four{
    padding: 4em;
}

/* inputfield */
.inputfield{
    border-radius: 5px;
    width: 500px;
    font-size: 1.5em;
    background: transparent;
    border: none;
    font-weight: 500;
    color: white;
    border:rgba(59, 59, 59, 0.5) 5px solid;
}

.inputfield:focus, input:focus{
    outline: none;
}

.giventext{
    background-color: rgba(59, 59, 59, 0.5);
    padding: 10px;
    border-radius: 10px;
    font-size: 1.5em;
}

/* given text */
.giventext{
    text-align: left;
}
.giventxt{
    text-decoration: none;
}